@import 'normalize'

*
  box-sizing: border-box

html,
body
  height: 100%
  width: 100%
  overflow: hidden

body
  text-align: center
  font-family: 'Ubuntu'
  padding: 70px 20px 0

h1,
p
  margin: 0
  margin-top: 24px

h1
  font-size: 48px

p
  font-size: 20px

a
  color: lighten(black, 50%)
  text-decoration: none

.bookmarklet
  content: 'Click or drag me'
  padding: 5px
  cursor: pointer

  &:hover

    &:after,
    &:before
      -webkit-transform: scale(1.2)
      -moz-transform: scale(1.2)
      transform: scale(1.2)

  &:after,
  &:before
    display: inline-block
    -webkit-transition: all .1s linear
    -moz-transition: all .1s linear
    transition: all .1s linear
    font-weight: bold

  &:after
    content: ']'

  &:before
    content: '['
